{% extends 'base.html.twig' %}

{% block title %}Mon panier - La boutique{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.

    {% if cart|length > 0 %}
        <table class="table table-sm table-hover align-middle">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Produit</th>
                <th scope="col" style="text-align: right;">Prix</th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for product in cart %}
                {% if product.quantity > 0 %}
                    <tr>
                        <td><img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" class="px-2" width="95px" /></td>
                        <td>
                            <p class="fs-5 fw-bold">{{ product.product.name }}</p>
                            <p class="fs-6">{{ product.product.subtitle }}</p>
                            <p>Quantité : <a href="{{ path('decrease_my_product', { 'id' : product.product.id }) }}" class="text-center text-black text-decoration-none"> -</a> {{ product.quantity }}
                                    <a href="{{ path('add_to_cart', { 'id': product.product.id }) }}" class="text-center text-black text-decoration-none"> +</a> | <a href="{{ path('delete_my_product', { 'id' : product.product.id}) }}"><button class="btn btn-sm btn-light">supprimer</button></a></p>
                        </td>
                        <td style="text-align: right;">{{ (product.product.price / 100)|number_format(2) ~ '€' }}</td>
                    </tr>
                {% endif %}
                {% set total = total + (product.quantity * product.product.price) %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right"></td>
                    <td class="fs-6 fw-bold" style="text-align: right;">Sous-total</td>
                    <td>{{ (total / 100)|number_format(2) ~ '€' }}</td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-md-2 offset-md-10" style="text-align: right;">
                <a href="{{ path('order') }}"><button type="button" class="btn btn-sm btn-outline-success">Valider mon panier</button></a>
            </div>
        </div>
    {% else %}
        <hr>
        <span class="fw-bold">Votre panier est vide</span>
    {% endif %}
{% endblock %}
