{% extends 'base.html.twig' %}

{% block title %}La Boutique - valider ma commande{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifiez vos informations avant de payer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6 commande">
            <strong>Adresse de livraison</strong><br>
            <div class="form-check">
                {{ delivery|raw }}
            </div>
            <hr>
            <strong>Transporteur</strong><br>
            <div class="form-check">
                {{ carrier.name }}<br>
                {{ carrier.description }}<br>
                {{ (carrier.price)|number_format(2) ~ '€' }}
            </div>
        </div>
        <div class="col-md-6">
            <b>Ma commande</b><br>
            <table class="table table-sm table-hover align-middle">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col" style="text-align: right;">Prix</th>
                </tr>
                </thead>
                <tbody>
                {% set total = null %}
                {% for product in cart %}
                    {% if product.quantity > 0 %}
                        <tr>
                            <td><img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" class="px-2" width="95px" /></td>
                            <td>
                                <p class="fs-5 fw-bold">{{ product.product.name }}</p>
                            </td>
                            <td>{{ product.quantity }}</td>
                            <td style="text-align: right;">{{ (product.product.price / 100)|number_format(2) ~ '€' }}</td>
                        </tr>
                    {% endif %}
                    {% set total = total + (product.quantity * product.product.price) %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-right"></td>
                    <td class="fs-6 fw-bold" style="text-align: right;">Sous-total<br>Livraison</td>
                    <td colspan="2" style="text-align: right;">{{ (total / 100)|number_format(2) ~ '€' }}<br>{{ (carrier.price)|number_format(2) ~ '€' }}</td>
                </tr>
                <tr>
                    <td class="text-right"></td>
                    <td class="fs-6 fw-bold" style="text-align: right;">Total à payer</td>
                    <td colspan="2" style="text-align: right;">{{ ((total / 100) + carrier.price)|number_format(2) ~ '€' }}</td>
                </tr>
                </tfoot>
            </table>
            <a href="#"><button class="btn btn-success btn-block">Payer ma commande</button></a>
        </div>
    </div>
{% endblock %}
